<p>
  <strong>First Name:</strong>
  <%= @student.fName %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @student.lName %>
</p>
<%= link_to 'Edit', edit_student_path(@student) %> <br>
<%= link_to 'Back', students_path %>