<p>
  <strong>First Name:</strong>
  <%= @behavior.fName %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @behavior.lName %>
</p>
<%= link_to 'Edit', edit_behavior_path(@behavior) %> <br>
<%= link_to 'Back', behaviors_path %>